.mat-card1{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
                0 1px 1px 0 rgba(0,0,0,1), 
                0 1px 3px 0 rgba(0,0,0,1);
}

.msg {
    margin-left: 78px;
    padding: 19px 40px 37px 19px;
    border: 1px solid;
    background-color: #f44336;
    color: white;
}